.detailsrow {
    /* display: flex; */
    display: grid;
    grid-template-columns: 2fr 1fr ;
    padding: 12px;
    width: 280px;
    justify-content: space-between;
}

.detailsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.detailsWrapper svg {
    width: 28px;
    height: 28px;
    padding: 8px 4px 28px 4px;
}

.detailsWrapper svg:hover {
    cursor: pointer;
}

.detailsInnerWrapper {
    border: 1px solid gray;
    padding: 16px 40px;
}

.detailsVolume {
    display: flex;
    justify-content: left;
    padding: 12px;
}